/* Quy tắc làm 1 trang web
b1: phân tích trang web 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
b2: phân tích chi tiết 1 element
1. Vị trí
2. Kích thước( width, height)
3. Màu sắc 
4. Kiểu dáng( Kiểu chữ, hình tròn, vuông, ...)
*/

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Chỉnh lại font của trang web */
html{
    font-family: Arial, Helvetica, sans-serif;
}

#header{
    background-color: #fff;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
}

#nav li a{
    color: #203181;
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    text-transform: uppercase;
    font-weight: 700;
}

#nav li:hover a{
    color: #83ba47;
    padding-bottom: 20px;
    border-bottom: solid #83ba47 3px; 
}

#header .search-btn{
    float: right;
    padding: 0 30px;
}

#header .search-icon{
    color: #203181;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
}

#header .search-icon:hover{
    color:#83ba47;
}

#slider{
   /*Them ảnh trang chu */
    margin-top: 60px;
    padding-top: 50%;
    background: url('/assets/img/silder/silder1.jpg') top center/ cover no-repeat;
}
#content{

}

#footer{

}