/* Quy tắc làm 1 trang web
b1: phân tích trang web 
    1. Từ ngoài vào trong
    2. Từ trên xuống dưới
    3. Tổng quan đến chi tiết
b2: phân tích chi tiết 1 element
1. Vị trí
2. Kích thước( width, height)
3. Màu sắc 
4. Kiểu dáng( Kiểu chữ, hình tròn, vuông, ...)
*/

/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Helvetica, Arial, sans-serif;
}

/* Các class có thể dùng nhiều lần */
.btn{
    color:#fff;
    background-color: #203181;
    text-decoration: none;
    padding: 11px 16px;
    display: inline-block;
    margin: 15px 0;
    border: none;
}

.btn:hover{
    color:#203181;
    background-color: #ccc;
    cursor: pointer;
    transition: 0.5s;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}

.row:after{
    content: "";
    display: block;
    clear: both;
}

.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-half{
    width: 50%;
}

.col-forth{
    width: 25%;
}

.col-full{
    width: 100%;
}

/* Thanh điều hướng */
#header{
    background-color: #203181;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Thanh điều hướng */
#nav{
    display: inline-block;
}

#nav li{
    display: inline-block;
}

#nav li a{
    color: #fff;
    text-decoration: none;
    line-height: 60px;
    padding: 0 24px;
    text-transform: uppercase;
    font-weight: 700;
}

#nav li:hover a{
    color: #D8CF4B;
}
#search{
    display: flex;
    top: 0;
    right: 0;
}

#search .search-input{
    padding-top: 15px;
}

#search .search-text{
    height: 30px; 
    border-radius: 20px;
    padding: 10px 20px;
    outline: none;
    border: 1px solid black;
    font-weight: 400;
    letter-spacing: 1px;
}

#header .search-btn{
    padding-right: 30px;
    padding-left: 10px;
}

#header .search-icon{
    color: #fff;
    font-size: 25px;
    font-weight: 700;
    line-height: 60px;
}

#header .search-icon:hover{
    color:#D8CF4B;
}

/* Hình ảnh dưới thanh điều hướng */
#slider{
    margin-top: 60px;
    padding-top: 50%;
    background: url('/assets/img/Trang_chu/silder1.jpg') top center/ cover no-repeat;
}

/* Content trang chủ */
#content .milk-content{
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}

#content .content-section{
    width: 1000px;
    padding: 64px 0;
    margin-left: auto;
    margin-right: auto;
}

#content .section-heading{
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 3px;
    color: #203181;
}

.milk-img{
    width: 100%;
    display: block;
}

.milk-img:hover{
    opacity: 0.6;
}

.milk-cost{
    margin-top: 15px;
    color: #ff69b4;
    font-size: 20px;
    font-weight: 600px;
}

/* Footer */
#footer{
    width: 100%;
    height: 200px;
    background-color: #203181;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#footer .footer-content{
    padding-top: 30px;
}

#footer .footer-heading,
#footer .description,
#footer .icon{
    color: #fff;
}

#footer .description{
    padding: 12px;
    line-height: 20px;
}

.social-list{
    font-size: 30px;
    padding: 15px;
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open{
    display:flex;
}

.modal-container{
    background-color: #fff;
    width: 900px;
    max-width: calc(100%-32px);
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
} 

.modal-header{
    background-color: #203181;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.modal-close:hover{
    opacity: 1;
}

.modal-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}

.modal-body{
    padding: 16px;
}

.modal-label{
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

.modal-input{
    border: 1px solid #ccc;
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-bottom: 24px;
}

#buy-milk{
    background-color: #203181;
    border: none;
    color: #fff;
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
    padding: 18px;
    cursor: pointer;
}

#buy-milk:hover{
    opacity: 0.9;
}

.modal-footer{
    padding: 16px;
    text-align: right;
}

.modal-footer a{
    color: #2196F3;
}

@keyframes modalFadeIn {
    from{
        opacity: 0;
        transform: translateY(-140px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
